video{
    width: 100%;
    height: auto;
    display: block;
}

@font-face {
    font-family: 'Pigpen Cipher';
    src: url('/fonts/pigpen-cipher/PigpenCipher.otf') format('opentype');
}

.pigpen {
    font-family: 'Pigpen Cipher';
}
