video{
    width: 100%;
    height: auto;
    display: block;
}

@font-face {
    font-family: 'Pigpen Cipher';
    src: url('/fonts/pigpen-cipher/PigpenCipher.otf') format('opentype');
}

.pigpen {
    font-family: 'Pigpen Cipher';
}

@font-face {
    font-family: 'Vcr Osd Mono';
    src: url('/fonts/vcr-osd-mono/VCR_OSD_MONO_1.001.ttf') format('opentype');
}

.vcr {
    font-family: 'Vcr Osd Mono';
}

/* Hide the blockquote in the summary */
.summary blockquote.vcr {
    display: none;
}
